<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="pagina.css">
    <script src="https://kit.fontawesome.com/887a835504.js" crossorigin="anonymous"></script>
</head>

<body style="background-color: black;">
    <header>
        <nav>
            <article>
                <div class="logo">
                    <img src="/img/loguito.png" class="animate__animated animate__backInLeft" alt="">
                </div>
            </article>
            <ul>
                <li><a href="#Inicio">Inicio</a></li>
                <li><a href="#Sobre">Sobre nosotros</a></li>
                <li><a href="#Galeria">Galeria</a></li>
                <li><a href="#Redes">Redes</a></li>
                <li><a href="/contacto">Contacto</a></li>

            </ul>
        </nav>

    </header> 
    
<div class="slider-frame">
<ul>
    <li><img src="/img/arbol1.jpg" alt=""><p>Cuidado y Conservacion del aire </p>
    </li>
    <li><img src="/img/arbol2.jpg" alt=""><p class="p"></p></li>
    <li><img src="/img/arbol3.jpg" alt=""></li>
    <li><img src="/img/arbolito4.jpg" alt=""></li>  
</ul>
</div> 
      
      
      <article class="fondo1">
        <div class="bloque1">
           <a name="Inicio" href="#"> <h3 class="p1">PP-Plant</h3></a>
            <b><p class="p2">¡Bienvenidos!</p></b>
            <p class="p3">Cada momento cuenta como cada planta en la tierra</p>
        <div>    
        <div class="caja1">
            <video src="videito.mp4" controls muted width="500" height="400" autoplay></video>
        </div>
        <div class="ctn">
            <span class="ocultar" id="text">
               
               <div class="texto">
                <p>Las plantas nos proporcionan los recursos que los seres vivos necesitamos para vivir</p>
                <p>además nos protegen de algunos desastres, controlan el clima y nos proporcionan el oxígeno que respiramos y existen 2 tipos de plantas mas importantes los cuales son :</p>
                <h1>Plantas medicinales</h1>
                <p>Las plantas medicinales son de importancia socioeconómica para las pequeñas comunidades que las usan con prácticas ancestrales que aportan beneficios nutricionales y activos a la salud del hombre,.</p>
                <p> su sistema y características que las conforman mantienen un equilibrio en la diversidad biológica y en los ecosistemas</p>
                <h1>Plantas Ornamentales</h1>
                <p>Las plantas ornamentales son cultivadas con fines decorativos por sus características estéticas (hojas, flores, forma…) y son utilizadas en jardines y en el interior de los hogares. Se cultivan al aire libre en viveros o con una protección ligera bajo plásticos o en un invernadero con calefacción o temperatura controlada.</p>
                <p>Algunos de sus Beneficios son: Purificar el aire, reducen la polucion, mejoran el animo y reducen el estres, absorben los campos electromagneticos y incrementan la humedad </p>
            </div>
              </span>
        <button class="btn" id="Text_btn">Leer mas</button>
      
    </div>
    <script src="leer.js"></script>
        <p class="imaginario"></p>
    </article>
    <article>
        <div class="imaginario2">
           <a name="Sobre" href="#"> <p>Acerca de nosotros</p></a>
        </div>
    </article>

  
        <div class="carrousel">
            <div class="conteCarrousel">
                <div class="itemCarrousel" id="itemCarrousel-1">
                    <div class="itemCarrouselTarjeta"> <h2> Mision:</h2> 
                       <h1>Llegar mediante un servicio de primera, con los especialistas en el área más cualificados, y nuestros productos con un proceso completamente transparente y un control de calidad excelente, siempre manteniendo y promoviendo los principios y valores que conlleva el nombre de P P Plants</h1>
                  
                   
                    
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-3">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                        <a href="#itemCarrousel-2">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="itemCarrousel" id="itemCarrousel-2">
                    <div class="itemCarrouselTarjeta"><h2>Vision</h2>
                    <h1> 
                        Que cada cliente pueda tener una experiencia única y personalizada, ese será nuestro distintivo y nuestra regla.</h1>
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-1">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                        <a href="#itemCarrousel-3">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="itemCarrousel" id="itemCarrousel-3">
                    <div class="itemCarrouselTarjeta"><h2>Valores de la empresa</h2>
                    
                    <h1>
                        Innovación ,
                        Integridad,
                        Transparencia,
                        Colaboración,
                        Conciencia,
                        Diligencia,
                        Pasión y
                        Calidad</h1>
                    
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-2">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                        <a href="#itemCarrousel-1">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
          
            <div class="conteCarrouselController">
                <a href="#itemCarrousel-1">•</a>
                <a href="#itemCarrousel-2">•</a>
                <a href="#itemCarrousel-3">•</a>
            </div>
        </div>
        <div class="anuncio">
            <img src="/img/anuncio.gif" alt="">
        </div>
        <article>
            <div class="galeri">
            <div class="imaginario2">
                <a name="Galeria" href="#"><h1>Galeria</h1></a>
            </div>
        </article>

        <div class="cajon">
        <div class="galeria">
        <div class="foto">
<img src="/img/tienda2.jpg" alt="" >
        </div>
        <div class="pie"> <h2>Arbol</h2>
        <p>Bonzai</p>
        </div>

        </div>
        <div class="galeria">
            <div class="foto">
    <img src="/img/mame.jpg" alt="">
            </div>
            <div class="pie"> <h2>Arbol</h2>
            <a href="#"></a>
            </div>
    
            </div>
            <div class="galeria">
                <div class="foto">
        <img src="/img/shinon.jpg" alt="">
                </div>
                <div class="pie"> <h2>Arbol</h2>
                <p>Bonzai</p>
                </div>
        
                </div>
                <div class="galeria">
                    <div class="foto">
            <img src="/img/tienda3.jpg" alt="">
                    </div>
                    <div class="pie"> <h2>Planta Ornamental</h2>
                    <p>Lavanda</p>
                    </div>
            
                    </div>
                    <div class="galeria">
                        <div class="foto">
                <img src="/img/tienda4.jpg" alt="">
                        </div>
                        <div class="pie"> <h2>Planta Ornamental</h2>
                        <p>Cacktus</p>
                        </div>
                
                        </div>
                        <div class="galeria">
                            <div class="foto">
                    <img src="/img/tienda5.jpg" alt="">
                            </div>
                            <div class="pie"> <h2>Planta Ornamental</h2>
                            <p>Planta ornamental</p>
                            </div>
                    
                            </div>
                            <div class="galeria">
                                <div class="foto">
                        <img src="/img/tienda6.jpg" alt="">
                                </div>
                                <div class="pie"> <h2>Planta Ornamental</h2>
                                <p>Planta ornamental con mucha yuca</p>
                                </div>
                        
                                </div>
                                <div class="galeria">
                                    <div class="foto">
                            <img src="/img/tienda7.jpg" alt="">
                                    </div>
                                    <div class="pie"> <h2>Planta Ornamental</h2>
                                    <p>Flor Dalia</p>
                                    </div>
                            
                                    </div>



                                    
                                    <div class="galeria">
                                        <div class="foto">
                                <img src="/img/tienda8.jpg" alt="">
                                        </div>
                                        <div class="pie"> <h2>Planta Medicinal</h2>
                                        <p>Amapolal</p>
                                        </div>
                                
                                        </div>    
                                        <div class="galeria">
                                            <div class="foto">
                                    <img src="/img/tienda9.jpg" alt="">
                                            </div>
                                            <div class="pie"> <h2>Planta Medicinal</h2> 
                                            <p>Consuelda</p>
                                            </div>
                                    
                                            </div>
                                            <div class="galeria">
                                                <div class="foto">
                                        <img src="/img/tienda10.jpg" alt="">
                                                </div>
                                                <div class="pie"> <h2>Planta Medicinal</h2>
                                                <p>Otiga Urtica</p>
                                                </div>
                                        
                                                </div>
                                                <div class="galeria">
                                                    <div class="foto">
                                            <img src="/img/tienda11.jpg" alt="">
                                                    </div>
                                                    <div class="pie"> <h2>Planta Medicinal</h2>
                                                    <p>Alcachofa
                                                        batata
                                                    </p>
                                                   
                                                    </div>
                                            
                                                    </div>
                                                </div>
                                            </div>    
                                            <div class="anuncio">
                                                <img src="/img/anuncio2.gif" alt="">
                                            </div>
                                            <footer class="pie-pagina">
                                                <div class="grupo-1">
                                                    <div class="box">
                                                        <figure>
                                                            <a href="#">
                                                                <img src="/img/loguito.png" alt="Logo de SLee Dw">
                                                            </a>
                                                        </figure>
                                                    </div>
                                                    <div class="box">
                                                       <a name="Redes" href="#"><h2>Contacto</h2></a>
                                                        <li><i class="fas fa-map-marker-alt"></i> Santo Domingo, Av 27 de febrero</li>
                    <li><i class="fas fa-phone"></i> (1+) 849 341 4324</li>
                    <li><i class="fas fa-envelope-open-text"></i> luchen668@gmail.com</li>
                </ul>
                <p>PP-Plant.com</p>
                                                    </div>
                                                    <div class="box">
                                                        <h2>SIGUENOS</h2>
                                                        <div class="red-social">
                                                            <a href="#" class="fa fa-facebook"></a>
                                                            <a href="#" class="fa fa-instagram"></a>
                                                            <a href="#" class="fa fa-twitter"></a>
                                                            <a href="#" class="fa fa-youtube"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grupo-2">
                                                    <small>&copy; 2023 <b>PP-Plant</b> - Todos los Derechos Reservados.</small>
                                                </div>
                                            </footer>

                                        
</body>
</html>